@model LoginViewModel

@{
    Layout = null;
}
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="row login-container header">
        <div class="col-lg-6">
            <img src="~/images/Logo@48px.svg">
        </div>
        <div class="col-lg-6">
            <form class="clear-margin">
                <a class="btn btn-success float-right" asp-controller="Account"
                   asp-action="ExternalLogin" asp-route-provider="Office365"
                   asp-route-returnUrl="@Model.ReturnUrl">
                    <img src="~/images/Office-365-icon.svg" class="office-logo float-left inline-block">
                    <div class="inline-block">Login with office 365</div>
                </a>
            </form>
        </div>
    </div>
    <div class="main-container row">
        <div class="col-lg-6">
            <div class="col-lg-6">
                <span class="custom-heading">Compliance Ecosystem</span>
                <p class="custom-font">Effective way to work</p>
            </div>
            <div class="col-lg-8 custom-font link-container">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id elit in tortor hendrerit hendrerit. Donec at luctus erat. Mauris sit amet massa et ipsum tempor elementum.
                </p>

                <div class="col-lg-5 custom-font">
                    <div>Visit our website</div>
                    <div><a href="https://www.td.com/" target="_blank">tdbank.com</a></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 images-container">
            <img src="~/images/Consumptionbyday.png" class="consumptionbyday-img">
            <img src="~/images/DeviceLimit.png" class="devicelimit-img">
            <img src="~/images/ActiveHours.png" class="activehours-img">
            <img src="~/images/Consumptionbyroom.png" class="consumptionbyroom-img">
        </div>
    </div>
</body>
</html>
